server:
  port: 8080

spring:
  application:
    name: api_gateway
  data:
    redis:
      port: 6379
      host: localhost
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
      routes:
        - id: book_service
          uri: lb://book_service
          predicates:
            - Path=/api/v1/books/**
          filters:
            - name: RequestRateLimiter
              args:
                redis-rate-limiter.replenishRate: 10
                redis-rate-limiter.burstCapacity: 20
                redis-rate-limiter.requestedTokens: 1
            - KeyAuthFilter
        - id: employee_service
          uri: lb://employee_service
          predicates:
            - Path=/api/v1/employees/**
          filters:
            - name: RequestRateLimiter
              args:
                redis-rate-limiter.replenishRate: 10
                redis-rate-limiter.burstCapacity: 20
                redis-rate-limiter.requestedTokens: 1
            - KeyAuthFilter
eureka:
  instance:
    hostname: localhost
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
      register-with-eureka: true
      fetch-registry: true

apiKey: thanhdoan
